h2{
    font-weight: bold;
    font-size: larger;
    padding-bottom: 10px;
    
}
p{
    text-align: justify;
    padding-bottom: 10px;
}
.service{
    background-image: url("https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg");
    object-position: center;
  }